<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robgthai.spoon.hellospoon">

    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LandingActivity"
            android:label="@string/app_name">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".echo.EchoActivity"
            android:label="@string/title_activity_echo"></activity>
        <activity android:name=".google.MainActivity" android:label="UI Test App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".google.ActionBarTestActivity"
            android:label="actionbar test activity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".google.SimpleActivity"
            android:label="simple activity" />
        <activity
            android:name=".google.SendActivity"
            android:label="send activity" />
        <activity
            android:name=".google.DisplayActivity"
            android:label="display activity" />
        <activity
            android:name=".google.DrawerActivity"
            android:label="drawer activity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".google.GestureActivity"
            android:exported="true"
            android:label="gesture activity" />
        <activity
            android:name=".google.ScrollActivity"
            android:exported="true"
            android:label="scroll activity" />
        <activity
            android:name=".google.LongListActivity"
            android:exported="true"
            android:label="list activity" />
        <activity
            android:name=".google.MenuActivity"
            android:label="menu activity" />
        <activity
            android:name=".google.FragmentStack"
            android:label="fragment stack activity" />
        <activity
            android:name=".google.SyncActivity"
            android:label="sync activity" />
        <activity
            android:name=".google.SimpleWebViewActivity"
            android:label="web view" />
        <activity
            android:name=".google.SwipeActivity"
            android:label="swipe activity" />
        <activity
            android:name=".google.ViewPagerActivity"
            android:label="view pager activity" />
    </application>

</manifest>
